html, body {
    margin: 20px;
    height:100%;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    width: 350px;
    height:350px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 1px;
}
.board-cell{
    border: 1px solid black;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.result{
    font-size: 26px;
    color: rgba(71, 73, 74, 0.877);
}
